<div class="row">
  <aside class="top">
    <div class="home-title center jumbotron">
      <h1>日々の献立を管理しよう！</h1>
      <h2>-献立記録サービス-</h2>
      <% if logged_in? %>
        <div class="home-grid">
          <a href=<%= user_path(@user) %>>
            <div class="home-link">
              <%= image_tag("my_menu.png") %>
              <div>私の献立</div>
            </div>
          </a>
          <div class="home-link">
            <%= image_tag("everyone's_menu.png") %>
            <div>みんなの献立</div>
          </div>
          <a href=<%= recommend_path %>>
            <div class="home-link">
              <%= image_tag("recommended_menu.png") %>
              <div>ご無沙汰献立</div>
            </div>
          </a>
          <div class="home-link">
            <%= image_tag("register_menu.png") %>
            <div>献立の登録</div>
          </div>
          <div class="home-link">
            <%= image_tag("friend_search.png") %>
            <div>友達検索</div>
          </div>
          <div class="home-link">
            <%= image_tag("my_page.png") %>
            <div>マイページ</div>
          </div>
        </div>
      <% else %>
        <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
        <%= form_for(:session, url: login_path) do |f| %>
          <%= f.hidden_field :email, value: 'test@railstutorial.org' %>
          <%= f.hidden_field :password, value: 'foobar' %>
          <%= f.submit 'テストログイン', class: 'btn btn-lg btn-secondary' %>
        <% end %>
      <% end %>
    </div>
  </aside>
  <div class="round-area home-section">
    <h2>みんなの献立</h2>
    <ul class="horizontal-list">
      <%= render @menus %>
    </ul>
  </div>
</div>
