<% menu.picture.url.nil? ? @image_url = "../assets/no_image.png" : @image_url = menu.picture.url %>

<!-- <li class="item"> -->
  <!-- <span class="picture inline-top" style="background-image: url(<%#= @image_url %>)"> -->
    <!-- .holizontal-listで表示 -->
    <!-- <span class="datetime"> -->
      <!-- <div><%#= menu.date %></div> -->
      <!-- <div><%#= menu.time %></div> -->
    <!-- </span> -->
    <!-- <span class="user"> -->
      <%#= menu.user.name %>
    <!-- </span> -->
    <!-- ここまで -->
  <!-- </span> -->
<li class="everyone-menu-item">

  <div class="everyone-menu-picture">
    <%= menu_image(menu, "") %>

    <!-- .holizontal-listでのみ表示 -->
    <div class="datetime">
      <span><%= menu.date %></span>
      <span><%= menu.time %></span>
    </div>

    <div class="user">
      <%= menu.user.name %>
    </div>
    <!-- ここまで -->
  </div>

  <div class="everyone-menu-info">
    <!-- .vertical-listでのみ表示１ -->
    <span class="user"><%= link_to menu.user.name, user_path(menu.user) %></span>
    <!-- ここまで -->
    <ul class="dishes">
      <% menu.dishes.all.each do |dish| %>
        <li class="dish"><%= dish.name %></li>
      <% end %>
    </ul>
    <!-- .vertical-listでのみ表示２ -->
    <span class="datetime"><%= menu.date %> <%= menu.time %></span>
    <!-- ここまで -->
  </div>
</li>
