<div class="calendar">
  <% for num in -7..7 do %>
    <div class="calendar-header" id="num-<%= num %>" data-toggle="modal" data-target="#calendarModal">
      <%= @date+num %>
      <%= %w(日 月 火 水 木 金 土)[(@date+num).wday] %>
    </div>
    <% @menu_times.each do |time| %>
      <% if @menu = Menu.find_by(date: @date+num, time: time[0], user: current_user) %>
        <%= link_to(edit_menu_path(@menu), remote: true, class: "menu",
                                      id: "menu-#{@date+num}-#{time[0]}") do %>
          <div class="dishes">
            <% @menu.dishes.all.each do |dish| %>
              <li class="dish"><%= dish.name %></li>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="menu" id="menu-<%= @date+num %>-<%= time[0] %>"></div>
      <% end %>
    <% end %>
  <% end %>
</div>

<script>
  $(document).ready ( function() {
  // $(() => {
  // window.onload = function() {
  // $(window).on('load', function() {
    var ELEMENT = $('.calendar').get(0);
    var scrollWidth = ELEMENT.scrollWidth;
    var elementWidth = ELEMENT.clientWidth;
    // 取得した要素の位置を引数に指定
    $('.calendar').scrollLeft(scrollWidth/2-elementWidth/2);
  });
</script>
