<% menu.picture.url.nil? ? @image_url = "/assets/no_image.png" : @image_url = menu.picture.url%>

<li class="item">
  <span class="picture inline-top" style="background-image: url(<%= @image_url %>)">
    <!-- .holizontal-listで表示 -->
    <span class="datetime">
      <div><%= menu.date %></div>
      <div><%= menu.time %></div>
    </span>
    <span class="user">
      <%= menu.user.name %>
    </span>
    <!-- ここまで -->
  </span>

  <div class="info inline-top">
    <!-- .vertical-listで表示１ -->
    <span class="user"><%= menu.user.name %></span>
    <!-- ここまで -->
    <ul class="dishes">
      <% menu.dishes.all.each do |dish| %>
        <li class="dish"><%= dish.name %></li>
      <% end %>
    </ul>
    <!-- .vertical-listで表示２ -->
    <span class="datetime"><%= menu.date %> <%= menu.time %></span>
    <!-- ここまで -->
  </div>
</li>
