<li class="item">
  <div class="picture">
    <%= image_tag menu.picture.url if menu.picture? %>
  </div>
  <span class="info">
    <span class="datetime"><%= menu.date %>　<%= menu.time %></span>
    <ul class="dishes">
      <% menu.dishes.all.each do |dish| %>
        <li class="dish"><%= dish.name %></li>
      <% end %>
    </ul>
    <div class="user">
      <span><%= menu.user.name %></span>
      <span>さんの投稿</span>
    </div>
  </span>
</li>
