<li id="menu-<%= menu.id %>">
  <span class="datetime"><%= menu.date %>　<%= menu.time %></span>
  <ul class="dishes">
    <% menu.dishes.all.each do |dish| %>
      <li class="dish"><%= dish.name %></li>
    <% end %>
  </ul>
  <span class="user">
    <%= menu.user.name %>さんの投稿
    （<%= time_ago_in_words(menu.created_at) %>前）
  </span>
</li>
