<li class="item">
  <!-- .vertical-listでは非表示 -->
  <span class="picture inline-top" style="background-image: url(<%= menu.picture.url %>)">
    <span class="datetime">
      <div><%= menu.date %></div>
      <div><%= menu.time %></div>
    </span>
    <span class="user">
      <%= menu.user.name %>
    </span>
  </span>
  <!-- .vertical-listでは非表示　ここまで -->

  <!-- .holizontal-listでは非表示 -->
  <div class="info inline-top">
    <span class="user"><%= menu.user.name %></span>
    <ul class="dishes">
      <% menu.dishes.all.each do |dish| %>
        <li class="dish"><%= dish.name %></li>
      <% end %>
    </ul>

    <span class="datetime"><%= menu.date %> <%= menu.time %></span>
  </div>
</li>
