<% provide(:title, "ユーザー検索") %>
<% provide(:url, users_path) %>
<% provide(:placeholder, "ユーザー名を入力") %>
<% provide(:submit, "検索") %>
<% provide(:search_word, "") %>
<%= provide(:delete_text, "delete") %>

<section class="users user_info">
  <%= render partial: 'user_info', locals: { user: current_user } %>
  <%= render 'stats' %>
</section>

<%= render 'shared/search_form' %>

<section class="users" id="search-results">
  <%= render @users %>
</section>

<%= paginate @users %>
