<% provide(:url, dishes_path) %>
<% provide(:placeholder, "検索する品名を入力") %>
<% provide(:submit, "献立検索") %>

<% if current_user?(@user) %>
  <% provide(:search_word, "") %>
  <%= render 'shared/search_form' %>
  <%= render 'menus/menu_calendar' %>
  <div class="button-area">
    <div class="round-button" id="calendar-button" data-toggle="modal" data-target="#calendarModal">
      <%= image_pack_tag("calendar.png") %>
    </div>
    <div class="round-button">
      <%= link_to image_pack_tag("register_menu.png"), new_menu_path, remote: true %>
    </div>
  </div>
<% else %>
  <section class="users user_info">
    <%= render partial: 'user_info', locals: { user: @user } %>
    <%= render 'follow_form' if logged_in? %>
  </section>
  <ol class="vertical-list">
    <%= render @menus %>
    <%= paginate @menus %>
  </ol>
<% end %>
<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <!-- ボタン・リンククリック後に表示される画面の内容 -->
<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <%= render 'shared/modal_calendar' %>
</div>
