<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="exampleModalLabel"><%= yield(:modal_header) %></h5>
    </div>
    <div class="modal-body">
      <%= form_with(scope: :search, url: dishes_path, method: :get, remote: true) do |f| %>
        <%= f.text_field :name, value: @search_params[:name] %>

        <%= f.submit "献立検索", class: "btn btn-primary" %>
      <% end %>

      <% @dishes.each do |dish| %>
        <%= link_to(user_path(current_user, start_date: dish.menu.date), local: true) do %>
          <div class="applicable-menu">
            <span class="dish-name"><%= dish.name %></span>
            <span class="menu-date"><%= dish.menu.date %></span>
            <span class="menu-time"><%= dish.menu.time %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
