<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="exampleModalLabel"><%= yield(:modal_header) %></h5>
    </div>
    <div class="modal-body">
      <% provide(:search_word, @search_params[:name]) %>
      <%= render 'dishes/dishes_search' %>

      <% @dishes.each do |dish| %>
        <div class="applicable-menu">
          <span class="dish-name"><%= link_to dish.name,
            user_path(current_user, start_date: dish.menu.date), local: true %></span>
          <span class="menu-date"><%= dish.menu.date %></span>
          <span class="menu-time"><%= dish.menu.time %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
