<% provide(:title, "ご無沙汰献立") %>

<div class="row">
  <aside class="col-md-12">
    <section>
      <h1>ご無沙汰献立</h1>
    </section>
    <div>
      <% @less_dishes.each_with_index do |per_time, i| %>
        <div class="round-area" id="<%= @menu_times[i][0] %>">
          <h4><%= @menu_times[i][0] %></h4>
          <div class="ranking-table">
            <% per_time.each_with_index do |per_category, j| %>
              <div class="dish_category"><span class="sharp">#</span><%= @dish_categories[j][0] %></div>
              <% unless per_category.empty? %>
                <% per_category.each_with_index do |less_dish, rank| %>
                  <div class="rank-area" id="rank<%= rank+1 %>">
                    <div class="rank"><%= image_tag("rank#{rank+1}.png") %></div>
                    <div class="rank rank-dish"><%= less_dish %></div>
                  </div>
                <% end %>
              <% else %>
                <div></div><div></div><div></div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </aside>
</div>
